:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f8;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #333;
  font-size: 3.2em;
  margin-bottom: 20px;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2.5em;
  text-align: center;
  color:rgb(2, 2, 2)
}
canvas {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  margin-top: 50px; 
  margin-left: 30px; 
  margin-bottom: 20px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px 15px;
  background-color: #01234325;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-top: 20px; 
  margin-left: 30px; 
}
button:hover {
  border-color: #646cff;
  color: #333;
  transform: scale(1.05);
}
.selectedTool {
  background-color: #ddd;
  border: 2px solid #333;
}
#pinButtons button {
  font-size: 20px; /* Larger font for emoji buttons */
}

#exportButton {
  background-color: #4CAF50;
  color: white;
  border: none;
}

#exportButton:hover {
  background-color: #45a049;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
